/*import chirstmas fonts*/

@font-face {
    font-family:XmasStar;
    src:url('fonts/MerryChristmasStar.ttf');
}

@font-face {
    font-family:XmasFlake;
    src:url('fonts/MerryChristmasFlake.ttf');
}

@font-face {
    font-family:xmas;
    src:url('fonts/CHRICI.TTF');
}

#example_4 ul li {
  padding-bottom:10px;
  }
  #content {
  padding:15px 20px 15px 10px;
  }
  #jenkins {margin-left: 10px;}

.hero-unit {
  background-image:url('../img/xmas/flowers.jpg');
}


a {
    color: #651C26;
    text-decoration: none;
}

a:hover {
    color:rgba(0,128,43,1);
}

.hero-unit h1 {
    font-family:'xmas';
    color: white;
    margin-top: 8px;
    font-size:55px;
    font-weight:bold;

}

.span3 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.span4 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div#kudos table {
    font-size:14px;
}

.span8 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar, .navbar-inner {
   background: rgba(0,128,43,1);
background: -moz-linear-gradient(-45deg, rgba(0,128,43,1) 0%, rgba(54,92,52,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,128,43,1)), color-stop(100%, rgba(54,92,52,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,128,43,1) 0%, rgba(54,92,52,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,128,43,1) 0%, rgba(54,92,52,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,128,43,1) 0%, rgba(54,92,52,1) 100%);
background: linear-gradient(135deg, rgba(0,128,43,1) 0%, rgba(54,92,52,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00802b', endColorstr='#365c34', GradientType=1 );
font-size:25px;

}




.navbar .nav > li > a:hover {
    color:#DD101F;
}

.navbar .nav > li > a {
    font-family:'XmasFlake';
    font-size:20px;
}